$gray-100: #f5f5f5 !default;
$gray-200: #eeeeee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #858585 !default;
$gray-700: #696969!default;
$gray-800: #424242 !default;
$gray-900: #2b2b2b !default;
$grey-1000: #383838 !default;

$base-color : $grey-1000;
$accent-color : #ED8F23;
$background-color : #f3f3f7;